* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  background: lightgrey;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.button {
  background-color: steelblue; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
}

.sidebar {
  background-color: steelblue;
  color: white;
}

#brand {
  display: flex;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1.75rem;
}

.sidebar nav {
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.sidebar nav ul li {
  display: flex;
  gap: 1rem;
}

.sidebar nav ul li a {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.sidebar nav ul li a:hover {
  color: #f1f1f1;
}

.main-container {
  display: grid;
}

/*Header Styles*/
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
  padding: 0 1.75rem;
}

.header-row {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.user-buttons > ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
#search {
  padding: 0.5rem;
  border-radius: 25px;
  min-width: 75%;
}
.intro {
  display: flex;
  grid-column: 1;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.greeting {
  display: flex;
  flex-direction: column;
}

/*Main Container Style*/
#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column: 1/3;
  gap: 1.75rem;
  padding: 1.75rem;
}

#projects-container h2 {
  grid-column: 1 / -1;
}

#announcements-trending-container {
  grid-column: 3/4;
  padding: 1rem;
}
.card,
#announcements,
#trending {
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 1.75rem;
}

.card {
  border-left: 6px solid steelblue;
}
